BODY { background-color: white; color: blue; font-family: Arial, sans-serif }
TABLE { font-family: arial, sans-serif }
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 14.0px Arial}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Arial; min-height: 11.0px}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px;}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Courier New; min-height: 11.0px}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times New Roman; min-height: 15.0px}
span.s1 {text-decoration: underline}
